@import "~@bentley/ui-core/lib/ui-core/style/themecolors";


$component-examples-leftpanel-width: 225px;
$component-examples-rightpanel-width: 200px;

.component-ui {
    width: 20%;
}

.component-container {
    //overflow-y: scroll;
    //These two things below are probably not ideal for long term use
    //max-height: 500px;
    padding-left: 25%;
    padding-right: 25%;

    .component-example-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;

        .left-panel {
            display: flex;
            flex-direction: column;
            flex:  1;
            width: $component-examples-leftpanel-width;

            .title {
                font-size: 18px;
            }
      
            .description {
                margin-top: 10px;
                font-size: 12px;
                color: $buic-text-color-muted;
            }

        }

        .right-panel {
            //flex: 1;
            width: $component-examples-rightpanel-width;

        }
    }

}