.html-markers_marker-content {
  padding: 11px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 5px;

  pointer-events: auto;
}

.html-markers_sample-opts-2-col {
  display: grid;
  row-gap: 8px;
  column-gap: 8px;
  grid-template-columns: auto auto;
  align-items: center;
}

.html-markers_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.html-markers_form {
  > label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > *:nth-child(1) {
      margin-left: 40px;
    }
  }
}
