.nz-widget-floatingWidget {
  &.custom {
    transform: unset !important;
    height: unset !important;
    max-height: 400px;
    max-width: 300px;
    min-width: 100px;
    bottom: 16px;
    right: 24px;
  }
}